<div class="container">
  <div class="todo">
    <h3>Создать заметку</h3>
      <form>
        <div class="input__space">
          <span class="p-float-label">
            <input 
              id="float-input" 
              type="text" 
              pInputText 
              [(ngModel)]="newTask" 
              [ngModelOptions]="{ standalone: true }"
            > 
            <label for="float-input">Название заметки</label>
          </span>
          <p-button type="submit" icon="pi pi-check" (click)="add()"></p-button>
        </div>
      </form>
    <h3>Список заметок</h3>
    <app-filter [filters]="filters"></app-filter>
    <app-todo></app-todo>
  </div>
</div>